button.btn-link {
  text-decoration: none;
  padding: 0px; 
}

button.btn-link:hover {
  /* color: rgba(var(--bs-danger-rgb)); */
  font-weight: bold;
}

/* .App {
    margin: 10px auto;
    width: 90%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

input {
  padding: 5px;
  margin: 0px 2px;
}

button {
  padding: 5px 15px;
  margin: 0px 2px;
  background: #f00;
  border: 0px;
  color: white;
  border-radius: 3px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.medicine-title {
  cursor: pointer;
}

.medicine-title-date {
    text-size: 1em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */